

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary modal-lg" data-bs-dismiss="modal" @onclick="() => ConfirmDelete_Click(false)">Close</button>
                <button type="button" class="btn btn-primary modal-lg  @ButtonBootstrapStyle" @onclick="() => ConfirmDelete_Click(true)">@ButtonText</button>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback<bool> OnModalConfirmation { get; set; }

    [Parameter]
    public string Title { get; set; } = "Please Confirm";

    [Parameter]
    public string ButtonBootstrapStyle { get; set; } = "btn-primary";

    [Parameter]
    public string ButtonText { get; set; } = "Confirm";

    private async Task ConfirmDelete_Click(bool confirm)
    {
        if(confirm)
        {
            // Logic to handle confirmation
            await OnModalConfirmation.InvokeAsync(true);
        }
        else
        {
            // Logic to handle cancellation
            await OnModalConfirmation.InvokeAsync(false);
        }
    }
}